.imgcont{
    width: 340px;
    height: 245px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.imgcont img {
    margin: 3px 5px ;
    width: 98%;
    height:100%;
    border-radius: 20px;

}

.cardcont{
    width: 340px;
    height: auto;
    /* border: 1px solid black; */
    padding: 5px;
    margin: 10px 0px 5px 0px;
}

.cardcont:hover{
    scale: 1.01;
    box-shadow: 0px 0px 3px gray;
    border-radius: 20px;
}

.cardarticle{
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: 500;
    text-align: left;
}

.datacont *{
    margin: 0px 6px;
}

.datacont{
    margin: 7px  0px;
}

.datacont p{
    font-size: 1rem;
    line-height: 1.7rem;
    color: rgb(156, 156, 156);
}

.staricn{
    font-size: 0.6rem;
    color: #ffffff;
    padding: 0px;
    font-weight: 600;
    margin: 3px;
}

.rating{
    color: white;
    background: green;
    font-size: 0.9rem;
    font-weight: 800;
    width: 40px;
    height: 20px;
    border-radius: 4px;
    padding: 1px;
}

.dat{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}